body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;
    flex-wrap: wrap;
}

a {
    color: #00B7FF;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: #052b4a;
}

p {
    text-align: center;
    font-size: 1rem;
    color: #000000;
}

#div {
    margin-top: -200px;
    width: 50%;
    max-width: 300px;
}